{% load gravatar %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lingvista</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}transdef/js/trainer.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "lingvista-index" %}">lingvista</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a class="dropdown-toggle username" data-toggle="dropdown" href="#">
                  {% gravatar user.email 30 %}{{ user.first_name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "transdef:trainer" %}">Lingvista trainer</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url "account:settings" %}">Account settings</a></li>
                  <li><a href="{% url "account:delivery-settings" %}">Statistics delivery settings</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url "lingvista-logout" %}">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li class="auth-link"><a href="{% url "social:begin" backend="github" %}"><i class="icon-github auth-icon"></i> Login with GitHub</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container main">
      {% block content %}{% endblock %}
    </section>

    <footer></footer>
  </body>
</html>
