{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-primary">
        <div class="panel-heading">Phrases</div>
        {% if phrase_list|length > 0 %}
          <div class="panel-body">
            <p>There are no phrases</p>
          </div>
        {% else %}
          <table class="table">
            {% for item in phrase_list %}
              <tr>
                <td>{{ item.text }}</td>
                <td>{{ item.lang }}</td>
                <td>{{ item.score }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>

    <div class="col-md-3 col-md-offset-2 infoPanel">
      <h3><a href="#">Account</a></h3>
    </div>
  </div>
{% endblock %}
